/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: NetflixSans;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

/*--------------------------------------------------*/
.wrapper {
    min-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/*--------------------------------------------------*/
._container {
    max-width: 1680px;
    margin: 0px auto;
}

/*--------------------------------------------------*/
._img {
    position: relative;
}

._img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*--------------------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header_container {
    display: flex;
    min-height: 85px;
    max-width: 1826px;

    margin: 0 auto;
    padding: 0px 47px;
    box-sizing: content-box;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 32px;
    font-family: Helvetica;
    font-weight: 700;
    color: white;
    line-height: 115%;
}

.header_menu {
    margin: 0px 0px 0px 60px;
}

.menu_icon {
    display: none;
    background-color: transparent;
    position: absolute;
}

.menu {
    padding: 12px 0px;
}

.menu_list {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .header_container {
        display: flex;
        min-height: 28px;

        padding: 8px 24px 0px 24px;
        align-items: center;
    }

    .menu_icon {
        display: block;
    }

    .header_menu {
        display: none;
    }

    .header_logo {
        font-size: 24px;
        margin-left: auto;
        margin-right: auto;
    }
}

.menu_item {
    margin: 0px;
}

.menu_item:not(:last-child) {
    margin: 0px 24px 0px 0px;
}

.menu_item:last-child {
    font-weight: 700;
}

.menu_link {
    font-family: Helvetica;
    color: white;
    line-height: 112.5%;
}

/*--------------------------------------------------*/
.page {
    flex: 1 1 auto;
}

.page_main-block {}

/*--------------------------------------------------*/
.main-block {
    position: relative;
}

.main-block_background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.main-block_container {
    padding: 0px 120px;
}

.main-block_body {
    padding: 85px 0px 259.82px 0px;
    position: relative;
    z-index: 2;
}

.main-block_body>*:not(:last-child) {
    margin: 40px 0px 0px 0px;
}

.main-block_body>*:last-child {
    margin: 32px 0px 0px 0px;
}

@media (max-width: 947px) {
    .main-block_background img {
        object-position: 60%;
    }
}

@media (max-width: 767px) {
    .main-block_background img {
        object-position: 75%;
    }

    .main-block_body {
        padding: 34px 0px 50.5px 0px;
    }

    .main-block_body>*:not(:last-child) {
        margin: 24px 0px 0px 0px;
    }

    .main-block_body>*:last-child {
        margin: 24px 0px 67px 0px;
    }
}

.main-block_title {
    font-family: Helvetica;
    font-size: 72px;
    font-weight: 700;
    line-height: 115.3%;
    color: #FFFFFF;
    max-width: 759px;
}

.main-block_subtitle {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: 700;
    line-height: 115.6%;
    color: #FFFFFF;
}

@media (max-width: 842px) {
    .main-block_container {
        padding: 0px 60px;
    }

    .main-block_title {
        font-size: 48px;
    }
}

@media (max-width: 467px) {
    .main-block_container {
        padding: 0px 24px;
    }

    .main-block_title {
        font-size: 32px;
    }

    .main-block_subtitle {
        font-size: 24px;
    }
}

/*--------------------------------------------------*/
.main-block_search-line {
    padding: 8px 16px;
}

.search-line {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 16px;
}

.search_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.search_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 8px;
}

.search_item:first-child {
    width: 378px;
}

.search_icon {
    height: 20px;
    width: 20px;
    margin: 0px 8px;
}

.search_text {
    font-family: Helvetica;
    color: #FFFFFF;
}

.search_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    background: #FFFFFF;
    border-radius: 32px;
    padding: 12px 32px;

    font-family: Helvetica;
    font-weight: 700;
    color: #2659C3;
}

/*--------------------------------------------------*/
.main-block_categories {}

.categories {
    padding: 0px 0px 16px 0px;
}

.categories_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories_item {
    height: 66px;
    min-width: 70px;
}

.categories_link {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Helvetica;
    color: rgb(150, 150, 150);
    line-height: 112.5%;
}

@media (max-width: 467px) {
    .categories_link {
        font-size: 14px;
    }
}

.categories_icon {
    height: 32px;
    width: 32px;
    margin: 0px 0px 16px 0px;
}

/*--------------------------------------------------*/
.main-content {
    position: relative;
    margin-top: -204px;
}

.main-content>*:not(:last-child) {
    margin: 0px 0px 72px 0px;
}

.main-content-title {
    font-family: Helvetica;
    font-weight: 700;
    color: #000000;
    line-height: 115%;
    margin: 0px;
}

.main-content-title:first-child {
    color: #FFFFFF;
}

/*--------------------------------------------------*/
.block-destinations {
}

.destinations {

}

.destinations_container {

}

.destinations_body {

}

.destinations_body>* {
    padding: 0px 120px;
}

.destinations_title_black {
    font-family: Helvetica;
    font-weight: 700;
    color: black;
    line-height: 115%;
    margin: 0px;
}
.destinations_title_white {
    font-family: Helvetica;
    font-weight: 700;
    color: white;
    line-height: 115%;
    margin: 0px;
}

.destinations_items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: row;
    margin-top: 32px;
}

.destinations_items>*:not(:last-child) {
    margin-right: 24px;
} 

.destinations_items>*:first-child {
    margin-left: 6px;
} 

.destinations_card {
    position: relative;
}

.destination_image {
    height: 200px;
    width: 310px;
    border-radius: 8px;
}

.destination_title {
    margin: 0px 0px 23px 24px;
    bottom: 0;

    position: absolute;
    font-family: NetflixSans;
    font-weight: 500;
    font-size: 24px;
    color: white;
}

/*--------------------------------------------------*/
.block-offers {

}

.offers {

}

.offers_container {

}

.offers_body {

}

.offers_body>* {
    padding: 0px 120px;
}

.offers_title {
    font-family: Helvetica;
    font-weight: 700;
    color: black;
    line-height: 115%;
    margin: 0px;
}

.offers_items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: -16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.offers_items>*:not(:last-child) {
    margin-right: 24px;
}

.offer_card {
    display: flex;
    flex-direction: row;
    padding: 24px 16px;

    box-shadow: 0px 4px 16px rgba(158, 158, 158, 0.25);
    border-radius: 16px;
}

.offer_card>*:not(:last-child) {
    margin-right: 24px;
}

.offer_image_background {
    display: flex;
    position: relative;
    width: 310px;
    height: 210px;
}

.offer_image {
    position: absolute;

    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;

    border-radius: 21px;
}

.offer_content {
    position: relative;
    width: 322px;
}

.offer_subtitle {
    margin-bottom: 4px;
    font-family: NetflixSans;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    
    color: #000000;
    opacity: 0.5;
}

.offer_title {
    margin-bottom: 16px;
    font-family: NetflixSans;
    font-weight: 500;
    font-size: 24px;
    line-height: 129%;
    color: #000000;
}

.offer_description {
    margin-bottom: 16px;
    font-family: NetflixSans;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    
    color: #000000;
    opacity: 0.5;
}

.offer_button {
    position: absolute;
    background: #2659C3;
    border-radius: 32px;
    padding: 16px 32px;
    bottom: 0;

    font-family: NetflixSans;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
}

/*--------------------------------------------------*/
.block-connecting {

}

.connecting {

}

.connecting_container {

}

.connecting_body {

}

.connecting_body>* {
    padding: 0px 120px;
}

.connecting_title {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 32px;
    color: black;
    line-height: 115%;
    margin: 0px;
}

.connecting_items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: -16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.connecting_items>*:not(:last-child) {
    margin-right: 16px;
}

.connecting_card {
    display: flex;
    flex-direction: column;
    padding: 16px;

    box-shadow: 0px 4px 16px rgba(158, 158, 158, 0.25);
    border-radius: 16px;
}

.connecting_image {
    width: 310px;
    height: 210px;
    border-radius: 8px;
}

.connecting_subtitle {
    margin-top: 24px;
    font-family: NetflixSans;
    font-weight: 400;
    font-size: 24px;
    line-height: 129%;
    color: #000000;
}

.connecting_description {
    margin: 8px 0px 0px 0px;
    font-family: NetflixSans;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    
    color: #000000;
    opacity: 0.5;
}

/*--------------------------------------------------*/
.footer {}