/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: NetflixSans;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;

    background-image: url("resources/images/main-background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*--------------------------------------------------*/
@font-face {
    font-family: NetflixSans;
    src: url("resources/fonst/NetflixSansRegular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: NetflixSans;
    src: url("resources/fonst/NetflixSansMedium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: NetflixSans;
    src: url("resources/fonst/NetflixSansBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: NetflixSans;
    src: url("resources/fonst/NetflixSansLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: NetflixSans;
    src: url("resources/fonst/NetflixSansThin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

/*--------------------------------------------------*/
@font-face {
    font-family: Helvetica;
    src: url(resources/fonst/HelveticaRegular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Helvetica;
    src: url(resources/fonst/HelveticaBold.ttf);
    font-weight: 700;
    font-style: normal;
}

/*--------------------------------------------------*/
.wrapper {
    min-width: 100%;
    overflow: hidden;
}

/*--------------------------------------------------*/
._container {
    max-width: 1126px;
    margin: 0px auto;
}

/*--------------------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header_container {
    display: flex;
    justify-content: space-between;
    min-height: 85px;
    max-width: 1272px;

    margin: 0 auto;
    padding: 0px 47px;
    box-sizing: content-box;

    align-items: center;
}

.header_logo {
    font-size: 32px;
    font-family: Helvetica;
    font-weight: 700;
    color: white;
}

.header_menu {
    margin: 0px 0px 0px 455px;
}
@media (max-widht: 992px) {
    .header_menu {
        margin: 0px 0px 0px 300px;
    }
}
@media (max-widht: 767px) {
    .header_menu {
        margin: 0px 0px 0px 120px;
    }
}
@media (max-widht: 479px) {
    .header_menu {
        margin: 0px 0px 0px 60px;
    }
}

.menu {
    padding: 12px 0px;
}

.menu_list {
    display: flex;
    flex-wrap: wrap;
}

.menu_item {
    margin: 0px;
}
.menu_item:not(:last-child) {
    margin: 0px 24px 0px 0px;
}

.menu_link {
    font-weight: 400;
    color: white;
    line-height: calc(16 / 16 * 100%);
}
@media (max-widht: 479px) {
    .menu_link {
        font-size: 24px;
    }
}

/*--------------------------------------------------*/























.main-text {
    font-size: 16px;
    color: white;
}

.main-text.header {
    font-size: 72px;
    max-width: 60%;
    color: white;
    font-family: 'helvetica-bold';
    margin-top: 40px;
    margin-left: 120px;
}

.main-text.navigation {
    padding: 8px;
    margin: 0px 12px;
}

.main-text.search {
    margin: 21px 4px;
}

.main-text.regular {
    font-family: 'helvetica-regular';
}

.main-text.bold {
    font-family: 'helvetica-bold';
}

.navigation-header {
    display: flex;
    flex-direction: row;
}

.icons {
    margin: 20px 4px;
}

.search-line {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 120px;
    background-color: rgba(255, 255, 255, 0.4);
}